*{
    box-sizing: border-box;
}
body{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    display: flex;
    justify-content: center;
}
tr{
    display: flex;
    justify-content: center;
}
td{
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 100%;
}

.play-pole{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

[class*="col"]{
    width: 34%;
    height: 33%;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}
.col1.row1{
    border-top: none;
    border-left: none;
}
.col1.row2{
    border-left: none;
}
.col1.row3{
    border-bottom: none;
    border-left: none;
}
.col2.row1{
    border-top: none;
}
.col2.row3{
    border-bottom: none;
}
.col3.row1{
    border-top: none;
    border-right: none;
}
.col3.row2{
    border-right: none;
}
.col3.row3{
    border-bottom: none;
    border-right: none;
}